{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}
{% block body %}
    <h1 class="mt-3">Reports</h1>
    <h6>Period: {{ (dates.month ~ '/1/2016')|date('F') }} {{ dates.year }}</h6>
    <hr/>
    {% include 'parts/dateselector.html.twig' %}
    <table class="table table-striped mb-3">
        <thead class="text-center">
            <tr class="table-dark">
                <th>Names</th>
                <th>Pageviews</th>
                <th>Unique Pageviews</th>
                <th>Gains</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account in accounts %}
            <tr class="text-center">
                <td>{{ account.firstname }} {{ account.lastname }}</td>
                <td>{{ account.reports|reduce((acc, report) => acc + report.pageviews, 0) }}</td>
                <td>{{ account.reports|reduce((acc, report) => acc + report.uniquePageviews, 0) }}</td>
                <td>{{ account.reports|reduce((acc, report) => acc + report.uniquePageviews, 0) * 0.4 }} RWF</td>
                <td>
                    <a href="{{ path('app_admin_user_show', { id : account.id }) }}" class="btn btn-primary">View profile</a>
                    <a href="{{ path('app_admin_user_stats', { id: account.id }) }}" class="btn btn-info">Statistics</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7" class="text-center">No Report found on the selected period</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation mt-2 mb-5">
        {{ knp_pagination_render(accounts) }}
    </div>
{% endblock %}
