{% extends 'admin/base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <h1>Users</h1>
    <hr/>
    <table class="table table-striped mb-3">
        <thead class="text-center">
            <tr class="table-dark">
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ 'ROLE_ADMIN' in user.roles ? 'Admin': 'User' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-info" href="{{ path('app_admin_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_user_new') }}">Create new</a>
{% endblock %}
